<ion-view class="compare" ng-controller="CompareTypeController">
    <ion-header-bar class="bar-mysterious">
        <button  back-button class="button-clear"><i class="ion-chevron-left"></i>返回</button>
        <h1 class="title">全球能源治理</h1>
        <button class="button">口袋能源</button>
    </ion-header-bar>
    <ion-content>
        <h2 class="title-block">
            请选择要和&nbsp;<span class="bold">{{ item.name }}</span>&nbsp;对比的
        </h2>
        <ul class="selection-list">
            <li ng-click="chooseType('country')">国家<span class="ion-chevron-right"></span></li>
            <li ng-click="chooseType('organization')">能源组织<span class="ion-chevron-right"></span></li>
        </ul>
    </ion-content>
</ion-view>