<ion-view class="graph map" ng-controller="MapController">
    <ion-header-bar class="bar-mysterious">
        <button  back-button class="button-clear"><i class="ion-chevron-left"></i>返回</button>
        <h1 class="title">地缘对比</h1>
        <button class="button">口袋能源</button>
    </ion-header-bar>
    <ion-content>
        <map2d id="map2d" class="map2d" 
                    data1="members1" 
                    data2="members2"
                    data3="members3"
                    data1-legend="item1.name"
                    data2-legend="item2.name"></map2d>
        <h1 class="title-header with-divider">
            {{ item1.name }}<span class="versus">对比</span>{{ item2.name }}
        </h1>
        <div class="map-result-block" ng-if="members1 != 'undefined'">
            <h3>{{ item1.name }} （{{members1.length}}）</h3>
            <div class="result-main">
                <ul>
                    <li ng-repeat="item in members1">
                        {{item.name}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="map-result-block" ng-if="members2 != 'undefined'">
            <h3>{{ item2.name }}（{{members2.length}}））</h3>
            <div class="result-main">
                <ul>
                    <li ng-repeat="item in members2">
                        {{item.name}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="map-result-block" ng-if="members3 != 'undefined'">
            <h3>同属于两个组织的国家（{{members3.length}}）</h3>
            <div class="result-main">
                <ul>
                    <li ng-repeat="item in members3">
                        {{item.name}}
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>
