.details {
    background-color:#1E2832;
    color: #fff;
    .icon-grid {
        margin: 0 15px;
        padding: 8px 0 15px 0;
    }
    .table-list {
        font-size: 14px;
    }

    .table-list .col {
        padding: 8px;
        background-color:#fff;
        color: #4A4A4A;
    }

    .table-list .col:nth-child(1) {
        background-color: #323C46;
        color: #fff;
        width: 135px;
        border-right: 1px solid #EAEAEA;
    }

    .title-header {
        text-align: center;
        padding: 15px 10px 10px;
        background-color:#404A5A;
        border-bottom: 1px solid #000;
        .title {
            font-size: 20px;
            font-weight: bold;
            color: #fff;
        }
        .subtitle {
            font-size: 16px;
            color: #fff;
            font-weight: 400;
        }
    }

    .section-title {
        font-size: 16px;
        color: #fff;
        font-weight: 400;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .section {
        padding:0 15px;;
    }

    .centered-row {
        text-align: center;
    }

    .content-container {
        height: 100%;
        padding: 0 0px;
    }

    .bottom-row{
        padding: 0 15px;
        position: relative;
        text-align: center;
        button{
            margin: 0 2px;
        }
    }
}