.graph {
    .scroll-content {
        padding: 10px;
    }
    .title-header {
        font-size: 18px;
        text-align: center;
        color: #4B4B4B;
        padding: 15px 0;
        vertical-align: middle;
    }
    .versus {
        background-color: #FCA42F;
        color: white;
        margin: auto 20px;
        font-size: 12px;
        padding: 5px;
        border-radius: 3px;
        vertical-align: middle;
    }
}