.home {
    .map-container {
        top: 0 !important;
    }
    .scroll-content {
        background: linear-gradient(#22466F, #452525);
    }

    .input-wrapper {
        top: 45px;
    }

    .close-wrapper,.search-wrapper {
        position: absolute;
        top: 24px;
        right: 24px;
        font-size: 16px;
        color: #ccc;
    }

    .close-btn {
        display: block;
        height: 30px;
        width: 30px;
        border-radius: 15px;
        background-color: #eee;
        padding: 5px;
        font-size: 20px;
        text-align: center;
    }

    .close-btn:active, .close-btn.activated, .close-btn.active {
        background-color: #555;
    }
}


.platform-ios .input-wrapper {
    top: 65px;
}